@media (min-width: 480px) {

  /**** Global styles ****/
  .container {
    width: 80%;
  }

  /**** Header ****/
  header {

    h1 {
      @include headingFont(10rem, 0.05rem);
      line-height: 3.5rem;
      padding-bottom: 25px;
    }


    h2 {
      @include bodyFont (6rem, 2.5rem, 0.1rem, left);
      margin: 0;
    }
  }

  #hamburgerIcon:checked~ul {
    right: 50px;
  }

  /**** New space community blog get in touch ****/

  .spaceComBlogTouch {

    .iconWrap {
      padding: 30px;
      width: 65px;
      height: 65px;

      i {
        font-size: 2rem;
      }
    }
  }

  /**** Events ****/

  .events2 {
    .imgContainer {
      width: 55%;
    }
  }

  /**** BLOG ****/

  #blog {

    /**** Header ****/

    header {
      h1 {
        @include bodyFont (10rem, 2.35rem, 0.05rem, left);
      }
    }


    /**** Blog main ****/

    .blogPosts {
      .imgContainer {
        box-shadow: -15px 15px 0px 4px $dustyOrange;
      }
    }

    .recentPosts {
      .imgContainer {
        box-shadow: 15px 15px 0px 4px $dustyOrange;
        width: 70%
      }
    }
  }

  /**** CONTACT ****/

  #contact {

    .contactDetails {

      ul {
        width: 60%;
        margin: 0 auto 15px;
      }
    }

    form {
      margin: 40px auto 40px;
      width: 85%;
      box-shadow: 15px 15px 0px 4px $dustyOrange;
    }
  }

}
