@media (min-width: 768px) {
  /**** Header ****/

  header {
    min-height: 700px;

    h1 {
      @include headingFont(4.5rem, 0.7rem);
    }

    h2 {
      @include bodyFont(2.5rem, 2, 0.1rem, left);
    }

    nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      text-align: center;

      ul {
        display: flex;
        flex-direction: row;
        position: static;
        margin-top: 50px;

        li {
          margin: 0 25px;
        }

        .logo {
          display: block;
        }

        a {
          @include bodyFont(1.4rem, 1.45rem, 0.1rem, right);
        }
      }
    }

    .hamburger {
      display: none;
    }
  }

  /**** New location plan ahead starts  ****/

  .newLocPlanAhead {
    h2 {
      padding-top: 40px;
    }
  }

  .leftImg {
    box-shadow: 15px 15px 0px 4px $purple;
  }

  .rightImg {
    box-shadow: -15px 15px 0px 4px $purple;
  }

  /**** Events ****/

  .events2 {
    .container {
      width: 90%;
    }

    .imgContainer {
      width: calc(30% - 20px);
      float: left;
      margin-top: 10px;
      margin-left: 20px;
    }

    .contentWrap {
      width: calc(70% - 40px);
      margin-left: 40px;
      float: left;

      h2,
      p,
      .buttonWrap {
        text-align: left;
      }

      h2 {
        margin: 0;
      }
    }
  }

  /**** BLOG ****/

  #blog {
    header {
      .flexParent {
        justify-content: flex-start;
        align-items: flex-start;
      }

      .container {
        width: 90%;
      }
      .hamburger {
        display: none;
      }
    }

    .recentPosts {
      .imgContainer {
        width: 60%;
      }
    }
  }

  /**** CONTACT ****/

  #contact {
    header {
      .flexParent {
        justify-content: flex-start;
        align-items: flex-start;
      }
      .hamburger {
        display: none;
      }
    }

    .contactDetails {
      ul {
        width: 50%;
      }
    }
  }
}
