@media (min-width: 992px) {
  .container {
    width: 70%;
  }

  header {
    min-height: 700px;
  }

  .events3 {
    .flexParent {
      flex-direction: row;
    }

    .imgContainer:nth-of-type(1) {
      margin: 0 0 40px 0;
    }

    .imgContainer:nth-of-type(2) {
      margin: 0 20px 40px 20px;
    }

    picture {
      display: block;
    }
  }

  /**** BLOG ****/

  #blog {
    .blogPosts {
      width: 80%;
      .imgContainer {
        box-shadow: -15px 15px 0px 4px $purple;
      }
    }

    .commentForm {
      flex-direction: row;
    }

    .recentPosts {
      .imgContainer {
        width: 65%;
      }
    }

    input,
    label {
      display: block;
    }

    .name,
    .email {
      width: calc(50% - 10px);
      float: left;
    }

    .name {
      margin-right: 10px;
    }

    .email {
      margin-left: 10px;
    }

    textarea#comment {
      margin-bottom: 30px;
    }

    .comments {
      .flexParent {
        flex-direction: row;
      }

      .imgContainer {
        flex-basis: 30%;
      }

      .contentWrap {
        flex-basis: 70%;

        h3,
        p {
          text-align: left;
        }

        h3 {
          margin-bottom: 20px;
        }
      }
    }
  }

  /**** CONTACT ****/

  #contact {
    main {
      .container {
        width: 90%;
      }

      .flexParent {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        position: relative;
      }
    }

    form {
      width: calc(70% - 20px);
      margin: 0 0 20px 0;
      padding: 30px;
      position: relative;
      top: -100px;
    }

    .contactForm {
      flex-direction: row;
    }

    input,
    label {
      display: block;
    }

    .name,
    .email {
      width: calc(50% - 10px);
      float: left;
    }

    .name {
      margin-right: 10px;
    }

    .email {
      margin-left: 10px;
    }

    input#submit {
      width: 100%;
    }

    .button {
      padding: 10px 30px;
      margin: 30px 0 10px 0;
    }

    .contactDetails {
      width: calc(30% - 20px);
      margin: 150px 20px 50px 0;
      padding-bottom: 60px;
      display: flex;
      flex-direction: column;

      ul {
        width: 70%;
        margin: 0 0 15px 0;
      }

      li {
        text-align: left;
      }

      a {
        text-align: left;
      }
    }
  }
}
