/**** Variables ****/

$OffWhite: #ffffff;
$rustRed: #bf2603;
$dustyOrange: #ff8327;
$darkRed: #220303;
$black: #111010;

/**** Mixins ****/

@mixin headingFont ($fontSize, $letterSpacing) {
  font-family: 'Tulpen One', cursive;
  font-size: $fontSize;
  letter-spacing: $letterSpacing;
  color: $dustyOrange;
  text-align: left;
}

@mixin bodyFont ($fontSize, $lineHeight, $letterSpacing, $textAlign) {
  font-family: 'Chathura', sans-serif;
  color: $OffWhite;
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  text-align: $textAlign;
}

/**** Global Styles ****/

html {
  font-size: 125%;
  /*
    62.5% = units of 10px
    125% = units of 20px
     */
}

body {
  overflow-x: hidden;
}

h2 {
  @include bodyFont (3.4rem, 2.9rem, 0.1rem, center);
  margin: 20px 0;
}

p,
a {
  @include bodyFont (1.9rem, 1.45rem, 0.05rem, center);
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.flexParent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imgContainer {
  overflow: hidden;
  margin: 0 auto;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

.button {
  color: #ffffff;
  border: 1px solid transparent;
  background-color: $rustRed;
  padding: 23px 18px;
  display: inline-block;
  text-transform: uppercase;

  &:hover {
    color: $dustyOrange;
    background-color: $black;
    border: 1px solid $dustyOrange;
  }
}



.buttonWrap {
  text-align: center;
}

.spaceComBlogTouch input,
nav input {
  opacity: 0;
  position: absolute;
}

.commentForm,
.contactForm {
  display: flex;
  flex-direction: column;
}


input#post,
input#submit {
  @include bodyFont (1.9rem, 1.45rem, 0.05rem, center);
  margin: 0 auto;
  display: block;

  &hover {
    color: $dustyOrange;
  }
}

input#name,
input#email,
textarea#comment,
textarea#message {
  border: none;
}

input#name,
input#email,
textarea#comment,
textarea#message {
  width: 100%;
  padding: 5px;
  min-height: 3rem;
}

textarea#comment,
textarea#message {
  min-height: 10rem;
}

textarea#comment::placeholder,
textarea#message::placeholder {
  color: $OffWhite;
}

input[type=text]#name,
input[type=email]#email,
input[type=textarea]#comment,
input[type=textarea]#message {
  color: $OffWhite;
  @include bodyFont (1.9rem, 1.45rem, 0.05rem, left);
}

.name,
.email,
textarea#message {
  padding-bottom: 30px;
}

/**** Home Header ****/

header {
  min-height: 600px;
  background: url(../assets/homeImage1.jpg);
  background-size: cover;
  background-position: center center;
  padding: 1px;

  h1 {
    @include headingFont(6.5rem, 0.05rem);
    line-height: 3.5rem;
  }


  h2 {
    @include bodyFont (2.5rem, 2.5rem, 0.1rem, left);
    margin: 0;
  }

  .flexParent {
    justify-content: center;
    align-items: center;
  }
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  margin: 20px 20px 0 0;

  label {
    padding-bottom: 20px;
  }

  ul {
    position: absolute;
    top: 80px;
    right: -95px;
    transition: right 600ms;
    transition-timing-function: cubic-bezier(0.33, -0.01, 0.18, 0.94);

    li {
      margin-bottom: 25px;
    }

    .logo {
      display: none;

      h2 {

        @include headingFont(3rem, 0rem);
        color: $OffWhite;
        margin: 0;
      }
    }

    a {
      @include bodyFont (2.5rem, 1.45rem, 0.1rem, right);

      &:hover {
        color: $dustyOrange;
      }
    }
  }
}

#hamburgerIcon:checked~ul {
  right: 20px;
}

#hamburgerIcon:checked+label i {
  color: $dustyOrange;
}

.hamburger {
  margin-bottom: 20px;

  i {
    color: $OffWhite;
    font-size: 1.5rem;
    float: right;
    cursor: pointer;
    display: block;
  }

}

.logoWrap {
  margin-top: 260px;
}

.headerOverlay {
  display: none;
}

/**** New space community blog get in touch ****/

.spaceComBlogTouch {
  background-color: $black;
  padding: 1px;

  .container {
    padding: 50px 0 40px 0;
  }

  label {
    cursor: pointer;
    float: left;
    text-align: center;
    margin: 0 10px;
    width: calc(25% - 15px);
  }

  label:nth-last-of-type(1) {
    margin-right: 0;
  }

  label:nth-last-of-type(4) {
    margin-left: 0;
  }

}

.iconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $rustRed;
  background-color: $rustRed;
  padding: 20px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  color: $OffWhite;

  i {
    font-size: 1.3rem;
  }
}

.iconContent {
  clear: both;

  h2 {
    margin: 0;
    padding: 20px 0;
  }

  .iconWrap {
    display: none;
  }
}

.iconContent>div {
  display: none;
}

#newSpace:checked~.iconContent .newSpace,
#community:checked~.iconContent .community,
#blog:checked~.iconContent .blog,
#getInTouch:checked~.iconContent .getInTouch {
  display: block;
}

.deskTopIconMenu {
  display: none;
}

/**** New location Plan ahead ****/

.newLocPlanAhead {
  background-color: $darkRed;
  padding: 50px 0 40px 0;

  p {
    text-align: center;
  }
}

.leftContainer {
  .buttonWrap {
    padding: 40px 0;
  }
}

.rightContainer {
  .buttonWrap {
    padding-top: 40px;
  }
}

/**** Events ****/

.events {
  background-color: $black;
  padding: 1px;
}

.events1 {
  padding: 50px 0 40px 0;

  .buttonWrap {
    padding-top: 40px;
  }
}

.events2 {
  padding: 50px 0 40px 0;

  .buttonWrap {
    padding-top: 40px;
  }
}

.events3 {
  background-color: $darkRed;
  padding: 50px 0 40px 0;

  .flexParent {
    flex-direction: row;
  }

  .imgContainer:nth-of-type(2) {
    margin-left: 20px;
  }

  picture {
    display: none;
  }
}

/**** Footer ****/

footer {
  background-color: $black;
  margin: 0;
  padding: 10px 0;
}

/**** BLOG ****/

#blog {

  main {
    background-color: $black;
  }

  header {
    background: url(../assets/blogHeader1.jpg);

    h1 {
      @include bodyFont (5rem, 2.35rem, 0.05rem, center);
    }

    min-height: 600px;
  }

  /**** Recent Posts ****/

  .recentPosts {

    .container {
      background-color: $darkRed;
      padding: 50px 20px 40px 20px;
    }

    li {
      text-align: center;
    }

    li::before {
      content: "\2022";
      /* \2022 is the CSS Code/unicode for a bullet */
      color: $dustyOrange;
      font-weight: 900;
      display: inline-block;
      width: 20px;
      margin-left: -20px;
    }

    .buttonWrap {
      padding-top: 20px;
    }
  }

  /**** Blog main ****/

  .blogMain {
    background-color: $black;
  }

  .blogPosts {

    padding: 50px 0 40px 0;

    h3 {
      @include bodyFont (1.7rem, 1.45rem, 0.05rem, center);
      color: $dustyOrange;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 20px;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  /**** Comments ****/

  .comments {
    background-color: $black;

    .commentWrap {
      padding: 50px 0 40px 0;
    }

    .contentWrap {
      margin-bottom: 30px;
    }

    .imgContainer {
      margin-bottom: 15px;
    }

    h3 {
      @include bodyFont (2rem, 1.45rem, 0.05rem, center);
      color: $dustyOrange;
      margin-bottom: 20px;
    }
  }

  form {
    padding: 50px 0 40px 0;
  }

  input#name,
  input#email,
  textarea#comment {
    background-color: $black;
  }

  input#name,
  input#email {
    border-bottom: 2px solid $dustyOrange;
  }


  textarea#comment {
    border: 2px solid $dustyOrange;
  }

  label,
  textarea#comment::placeholder {
    @include bodyFont (1.9rem, 1.45rem, 0.05rem, left);
    color: $OffWhite;
    padding-left: 20px;
  }

}

/**** CONTACT ****/

#contact {

  /**** header ****/

  header {
    background: url(../assets/contactHeader2.jpg);

    h1 {
      @include bodyFont (5rem, 2.35rem, 0.05rem, center);
    }

    min-height: 500px;
  }

  /**** Main ****/

  main {
    background-color: $black;
    padding: 1px;
  }

  /**** Form ****/

  form {
    background-color: $darkRed;
    padding: 50px 20px 40px 20px;

  }

  input#name,
  input#email,
  textarea#message {
    background-color: $darkRed;
  }

  input#name,
  input#email {
    border-bottom: 2px solid $OffWhite;
  }


  textarea#message {
    border: 2px solid $OffWhite;
  }

  label,
  textarea#message::placeholder {
    @include bodyFont (1.9rem, 2rem, 0.05rem, left);
    color: $OffWhite;
    padding-left: 20px;
  }

  /**** contact details ****/

  .contactDetails {
    background-color: $black;
    padding: 50px 20px 40px 20px;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    li {
      text-align: center;
    }

    i {
      font-size: 1.5rem;
    }

    a {
      display: block;
      text-align: center;

      &:hover {
        color: $dustyOrange;
      }
    }
  }

  .email,
  .address {
    margin-bottom: 20px;
  }

  .phone {
    margin-bottom: 10px;
  }

}
