@media (min-width: 320px) {

  .imgContainer {
    margin: 0 auto;
  }

  /**** Events ****/
  .events2 {
    .imgContainer {
      box-shadow: -15px 15px 0px 4px $dustyOrange;
    }

    h2 {
      margin: 40px 0 20px 0;
    }
  }

}
