@media (min-width: 480px) {

  /**** Global styles ****/
  .container {
    width: 80%;
  }

  /**** New space community blog get in touch ****/

  .spaceComBlogTouch {

    .iconWrap {
      padding: 30px;
      width: 65px;
      height: 65px;

      i {
        font-size: 2rem;
      }
    }
  }

  /**** BLOG ****/

  #blog {

    /**** Blog main ****/

    .blogPosts {
      .imgContainer {
        box-shadow: -15px 15px 0px 4px $dustyOrange;
      }
    }

    .recentPosts {
      .imgContainer {
        box-shadow: 15px 15px 0px 4px $dustyOrange;
        width: 70%
      }
    }
  }

  /**** CONTACT ****/

  #contact {

    .contactDetails {
      .container {
        width: 70%;
      }

      ul {
        width: 80%;
        margin: 0 auto 15px;
      }
    }

    form {
      margin: 40px auto 40px;
      width: 85%;
      box-shadow: -15px 15px 0px 4px $dustyOrange;
    }
  }






}
