@media (min-width: 768px) {

  /**** Header ****/

  header {
    h1 {
      @include headingFont(13.05rem, 0.7rem);
      line-height: 3.5rem;
    }

    h2 {
      @include bodyFont (4.15rem, 5rem, 0.1rem, left);
    }
  }



  /**** New location plan ahead starts  ****/
  .leftImg {
    box-shadow: 15px 15px 0px 4px $dustyOrange;

  }

  .rightImg {
    box-shadow: -15px 15px 0px 4px $dustyOrange;

  }

  /**** Blog ****/

  #blog {

    header {
      h1 {
        @include bodyFont (6rem, 2.35rem, 0.05rem, center);
      }
    }

    .container {
      width: 70%
    }
  }






}
