@media (min-width: 1400px) {
  .container {
    width: 90%;
  }

  .button {
    padding: 10px 30px;
  }

  header {
    min-height: 90vh;

    nav {
      ul {
        li {
          margin: 0 40px;
        }
      }
    }

    .wrapper {
      position: relative;
    }
  }

  .logoWrap {
    margin-top: 300px;
  }

  .headerOverlay {
    display: block;
    position: absolute;
    right: 0;
    top: 45%;
  }

  .spaceComBlogTouch .container {
    padding: 100px 0 80px 0;
  }

  .iconMenu {
    label {
      display: none;
    }
  }

  .iconContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    h2 {
      padding: 0 0 20px 0;
    }

    h2,
    p {
      text-align: left;
    }

    .iconWrap {
      display: flex;
    }
  }

  .iconContent > div {
    display: block;
  }

  .newSpace,
  .blog,
  .community,
  .getInTouch {
    flex-basis: calc(50% - 15px);
    margin-bottom: 40px;
  }

  .newSpace,
  .blog {
    margin-right: 30px;
  }

  .innerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .iconWrap {
    margin-right: 20px;
  }

  .newLocPlanAhead {
    .flexParent {
      flex-direction: row;
    }

    .imgContainer {
      margin: 0;
    }
  }

  .leftContainer {
    position: relative;
    top: -100px;
    width: 40%;

    .flexParent {
      flex-direction: column;
    }

    .container {
      h2,
      p,
      .buttonWrap {
        text-align: right;
      }
    }
  }

  .rightContainer {
    position: relative;
    bottom: -55px;
    width: 40%;

    .flexParent {
      flex-direction: column-reverse;
    }

    .container {
      h2,
      p,
      .buttonWrap {
        text-align: left;
      }
    }

    .buttonWrap {
      padding: 40px 0;
    }
  }

  .events1 {
    padding-top: 80px;

    .flexParent {
      flex-direction: column-reverse;
    }

    .container {
      margin-bottom: 80px;
    }
  }

  .events2 {
    margin: 0 auto;

    .container {
      width: 90%;
    }

    .imgContainer {
      width: calc(20% - 20px);
      float: left;
      margin-top: 10px;
      margin-left: 20px;
    }

    .contentWrap {
      width: calc(80% - 40px);
      margin-left: 40px;
      float: left;

      h2,
      p,
      .buttonWrap {
        text-align: left;
      }

      h2 {
        margin: 0;
      }
    }
  }

  /**** BLOG ****/

  #blog {
    .container {
      width: 90%;
    }

    header {
      min-height: 700px;
    }

    .logoWrap {
      margin-top: 200px;
    }

    main {
      .flexParent {
        flex-direction: row;
      }
    }

    .blogPosts {
      width: 100%;
    }

    .recentPosts {
      flex-basis: 30%;
      position: relative;
      margin-top: 80px;

      .container {
        width: 70%;
        padding: 15px;
      }

      .imgContainer {
        box-shadow: none;
        width: 80%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .ourMission,
    .postList {
      h2,
      p,
      .button,
      li {
        text-align: left;
      }

      ul {
        padding-left: 20px;
      }
    }

    .ourMission {
      margin-top: 350px;

      p {
        margin-bottom: 10px;
      }

      .buttonWrap {
        text-align: left;
      }

      .button {
        margin: 0;
        text-align: left;
        text-transform: capitalize;
      }
    }

    .blogMain {
      flex-basis: 60%;
      position: relative;
      top: -100px;
    }

    .blogPosts {
      border-left: 4px solid $purple;
      border-bottom: 4px solid $purple;
      padding: 0 0 0 15px;

      .imgContainer {
        position: relative;
        top: -15px;
      }

      .contentWrap {
        padding: 25px 0 40px;
      }

      h2,
      h3,
      p {
        text-align: left;
      }
    }

    .comments {
      h2 {
        text-align: left;
        padding-left: 80px;
      }

      .contentWrap {
        h3 {
          margin-bottom: 10px;
        }
      }
    }

    input#post {
      width: 100%;
    }
  }

  /**** CONTACT ****/

  #contact {
    header {
      min-height: 700px;

      .flexParent {
        justify-content: flex-start;
        align-items: flex-start;
      }
    }

    h1 {
      text-align: left;
    }

    .logoWrap {
      margin-top: 220px;
    }

    form {
      bottom: 170px;
    }
  }
}
