@media (min-width: 768px) {

  /**** Global Styles ****/

  html {
    font-size: 125%;
    /*
      62.5% = units of 10px
      93.7% = units of 15px
      125% = units of 20px
       */
  }

  /**** Header ****/

  header {
    min-height: 700px;

    h1 {
      @include headingFont(13.05rem, 0.7rem);
      line-height: 3.5rem;
      padding-bottom: 20px;
    }

    h2 {
      @include bodyFont (4.15rem, 5.5rem, 0.1rem, left);
    }

    nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      text-align: center;

      ul {
        display: flex;
        flex-direction: row;
        position: static;
        margin-top: 50px;

        li {
          margin: 0 25px;
        }

        .logo {
          display: block;

          h2 {
            line-height: 0px;
          }
        }

        a {
          @include bodyFont (1.9rem, 1.45rem, 0.1rem, right);

          &:hover {
            color: $dustyOrange;
          }
        }
      }
    }

    .hamburger {
      display: none;

    }
  }

  /**** New location plan ahead starts  ****/

  .newLocPlanAhead {
    h2 {
      padding-top: 40px;
    }
  }

  .leftImg {
    box-shadow: 15px 15px 0px 4px $dustyOrange;
  }

  .rightImg {
    box-shadow: -15px 15px 0px 4px $dustyOrange;
  }

  /**** Events ****/

  .events2 {

    .container {
      width: 90%;
    }

    .imgContainer {
      width: calc(30% - 20px);
      float: left;
      margin-top: 10px;
      margin-left: 20px;
    }

    .contentWrap {
      width: calc(70% - 40px);
      margin-left: 40px;
      float: left;

      h2,
      p,
      .buttonWrap {
        text-align: left;
      }

      h2 {
        margin: 0;
      }
    }
  }

  /**** BLOG ****/

  #blog {

    /**** Header ****/

    header {

      h1 {
        @include bodyFont (6rem, 2.35rem, 0.05rem, left);
      }

      .flexParent {
        justify-content: flex-start;
        align-items: flex-start;
      }

      .container {
        width: 90%
      }
    }

    .recentPosts {
      .imgContainer {
        width: 60%;
      }
    }
  }

  /**** CONTACT ****/

  #contact {

    /**** Header ****/

    header {
      h1 {
        @include bodyFont (6rem, 2.35rem, 0.05rem, left);
      }

      .flexParent {
        justify-content: flex-start;
        align-items: flex-start;
      }
    }

    .contactDetails {
      ul {
        width: 50%;
      }
    }
  }
}
