@media (min-width: 480px) {
  .container {
    width: 80%;
  }

  header {
    h1 {
      @include headingFont(3rem, 0.05rem);
      line-height: 2rem;
    }

    h2 {
      @include bodyFont(2rem, 2.5rem, 0.1rem, left);
      margin: 0;
    }
  }

  #hamburgerIcon:checked ~ ul {
    right: 50px;
  }

  .spaceComBlogTouch {
    .iconWrap {
      padding: 30px;
      width: 65px;
      height: 65px;

      i {
        font-size: 2rem;
      }
    }
  }

  .events2 {
    .imgContainer {
      width: 55%;
    }
  }

  /**** BLOG ****/

  #blog {
    .recentPosts {
      .imgContainer {
        box-shadow: 15px 15px 0px 4px $purple;
        width: 70%;
      }
    }
  }

  /**** CONTACT ****/

  #contact {
    .contactDetails {
      ul {
        width: 60%;
        margin: 0 auto 15px;
      }
    }

    form {
      margin: 40px auto 40px;
      width: 85%;
      box-shadow: 15px 15px 0px 4px $lightBlue;
    }
  }
}
