article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
figure {
  margin: 0; }

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
a,
label,
input {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  border: none; }

/**** Variables ****/
/**** Mixins ****/
/**** Global Styles ****/
html {
  font-size: 125%;
  /*
    62.5% = units of 10px
    125% = units of 20px
     */ }

body {
  overflow-x: hidden; }

h2 {
  font-family: 'Chathura', sans-serif;
  color: #ffffff;
  font-size: 3.4rem;
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
  text-align: center;
  margin: 20px 0; }

p,
a {
  font-family: 'Chathura', sans-serif;
  color: #ffffff;
  font-size: 1.9rem;
  line-height: 1.45rem;
  letter-spacing: 0.05rem;
  text-align: center; }

.wrapper {
  max-width: 1600px;
  margin: 0 auto; }

.container {
  width: 90%;
  margin: 0 auto; }

.flexParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.imgContainer {
  overflow: hidden;
  margin: 0 auto; }

img {
  height: auto;
  max-width: 100%;
  display: block; }

.button {
  color: #ffffff;
  border: 1px solid transparent;
  background-color: #bf2603;
  padding: 23px 18px;
  display: inline-block;
  text-transform: uppercase; }
  .button:hover {
    color: #ff8327;
    background-color: #111010;
    border: 1px solid #ff8327; }

.buttonWrap {
  text-align: center; }

.spaceComBlogTouch input,
nav input {
  opacity: 0;
  position: absolute; }

.commentForm,
.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

input#post,
input#submit {
  font-family: 'Chathura', sans-serif;
  color: #ffffff;
  font-size: 1.9rem;
  line-height: 1.45rem;
  letter-spacing: 0.05rem;
  text-align: center;
  margin: 0 auto;
  display: block; }
  input#posthover,
  input#submithover {
    color: #ff8327; }

input#name,
input#email,
textarea#comment,
textarea#message {
  border: none; }

input#name,
input#email,
textarea#comment,
textarea#message {
  width: 100%;
  padding: 5px;
  min-height: 3rem; }

textarea#comment,
textarea#message {
  min-height: 10rem; }

textarea#comment::-webkit-input-placeholder,
textarea#message::-webkit-input-placeholder {
  color: #ffffff; }

textarea#comment:-ms-input-placeholder,
textarea#message:-ms-input-placeholder {
  color: #ffffff; }

textarea#comment::-ms-input-placeholder,
textarea#message::-ms-input-placeholder {
  color: #ffffff; }

textarea#comment::placeholder,
textarea#message::placeholder {
  color: #ffffff; }

input[type=text]#name,
input[type=email]#email,
input[type=textarea]#comment,
input[type=textarea]#message {
  color: #ffffff;
  font-family: 'Chathura', sans-serif;
  color: #ffffff;
  font-size: 1.9rem;
  line-height: 1.45rem;
  letter-spacing: 0.05rem;
  text-align: left; }

.name,
.email,
textarea#message {
  padding-bottom: 30px; }

/**** Home Header ****/
header {
  min-height: 600px;
  background: url(../assets/homeImage1.jpg);
  background-size: cover;
  background-position: center center;
  padding: 1px; }
  header h1 {
    font-family: 'Tulpen One', cursive;
    font-size: 6.5rem;
    letter-spacing: 0.05rem;
    color: #ff8327;
    text-align: left;
    line-height: 3.5rem; }
  header h2 {
    font-family: 'Chathura', sans-serif;
    color: #ffffff;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
    text-align: left;
    margin: 0; }
  header .flexParent {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
  margin: 20px 20px 0 0; }
  nav label {
    padding-bottom: 20px; }
  nav ul {
    position: absolute;
    top: 80px;
    right: -95px;
    -webkit-transition: right 600ms;
    -o-transition: right 600ms;
    transition: right 600ms;
    -webkit-transition-timing-function: cubic-bezier(0.33, -0.01, 0.18, 0.94);
    -o-transition-timing-function: cubic-bezier(0.33, -0.01, 0.18, 0.94);
    transition-timing-function: cubic-bezier(0.33, -0.01, 0.18, 0.94); }
    nav ul li {
      margin-bottom: 25px; }
    nav ul .logo {
      display: none; }
      nav ul .logo h2 {
        font-family: 'Tulpen One', cursive;
        font-size: 3rem;
        letter-spacing: 0rem;
        color: #ff8327;
        text-align: left;
        color: #ffffff;
        margin: 0; }
    nav ul a {
      font-family: 'Chathura', sans-serif;
      color: #ffffff;
      font-size: 2.5rem;
      line-height: 1.45rem;
      letter-spacing: 0.1rem;
      text-align: right; }
      nav ul a:hover {
        color: #ff8327; }

#hamburgerIcon:checked ~ ul {
  right: 20px; }

#hamburgerIcon:checked + label i {
  color: #ff8327; }

.hamburger {
  margin-bottom: 20px; }
  .hamburger i {
    color: #ffffff;
    font-size: 1.5rem;
    float: right;
    cursor: pointer;
    display: block; }

.logoWrap {
  margin-top: 260px; }

.headerOverlay {
  display: none; }

/**** New space community blog get in touch ****/
.spaceComBlogTouch {
  background-color: #111010;
  padding: 1px; }
  .spaceComBlogTouch .container {
    padding: 50px 0 40px 0; }
  .spaceComBlogTouch label {
    cursor: pointer;
    float: left;
    text-align: center;
    margin: 0 10px;
    width: calc(25% - 15px); }
  .spaceComBlogTouch label:nth-last-of-type(1) {
    margin-right: 0; }
  .spaceComBlogTouch label:nth-last-of-type(4) {
    margin-left: 0; }

.iconWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #bf2603;
  background-color: #bf2603;
  padding: 20px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  color: #ffffff; }
  .iconWrap:active {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #bf2603; }
  .iconWrap i {
    font-size: 1.3rem; }

.iconContent {
  clear: both; }
  .iconContent h2 {
    margin: 0;
    padding: 20px 0; }
  .iconContent .iconWrap {
    display: none; }

.iconContent > div {
  display: none; }

#newSpace:checked ~ .iconContent .newSpace,
#community:checked ~ .iconContent .community,
#blog:checked ~ .iconContent .blog,
#getInTouch:checked ~ .iconContent .getInTouch {
  display: block; }

/**** New location Plan ahead ****/
.newLocPlanAhead {
  background-color: #220303;
  padding: 50px 0 40px 0; }
  .newLocPlanAhead p {
    text-align: center; }

.leftContainer .buttonWrap {
  padding: 40px 0; }

.rightContainer .buttonWrap {
  padding-top: 40px; }

/**** Events ****/
.events {
  background-color: #111010;
  padding: 1px; }

.events1 {
  padding: 50px 0 40px 0; }
  .events1 .buttonWrap {
    padding-top: 40px; }

.events2 {
  padding: 50px 0 40px 0; }
  .events2 .buttonWrap {
    padding-top: 40px; }

.events3 {
  background-color: #220303;
  padding: 50px 0 40px 0; }
  .events3 .flexParent {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .events3 .imgContainer:nth-of-type(2) {
    margin-left: 20px; }
  .events3 picture {
    display: none; }

/**** Footer ****/
footer {
  background-color: #111010;
  margin: 0;
  padding: 10px 0; }

/**** BLOG ****/
#blog {
  /**** Recent Posts ****/
  /**** Blog main ****/
  /**** Comments ****/ }
  #blog main {
    background-color: #111010; }
  #blog header {
    background: url(../assets/blogHeader1.jpg);
    min-height: 600px; }
    #blog header h1 {
      font-family: 'Chathura', sans-serif;
      color: #ffffff;
      font-size: 5rem;
      line-height: 2.35rem;
      letter-spacing: 0.05rem;
      text-align: center; }
  #blog .recentPosts .container {
    background-color: #220303;
    padding: 50px 20px 40px 20px; }
  #blog .recentPosts li {
    text-align: center; }
  #blog .recentPosts li::before {
    content: "\2022";
    /* \2022 is the CSS Code/unicode for a bullet */
    color: #ff8327;
    font-weight: 900;
    display: inline-block;
    width: 20px;
    margin-left: -20px; }
  #blog .recentPosts .buttonWrap {
    padding-top: 20px; }
  #blog .blogMain {
    background-color: #111010; }
  #blog .blogPosts {
    padding: 50px 0 40px 0; }
    #blog .blogPosts h3 {
      font-family: 'Chathura', sans-serif;
      color: #ffffff;
      font-size: 1.7rem;
      line-height: 1.45rem;
      letter-spacing: 0.05rem;
      text-align: center;
      color: #ff8327;
      margin-bottom: 20px; }
    #blog .blogPosts p {
      margin-bottom: 20px; }
    #blog .blogPosts p:last-of-type {
      margin-bottom: 0; }
  #blog .comments {
    background-color: #111010; }
    #blog .comments .commentWrap {
      padding: 50px 0 40px 0; }
    #blog .comments .contentWrap {
      margin-bottom: 30px; }
    #blog .comments .imgContainer {
      margin-bottom: 15px; }
    #blog .comments h3 {
      font-family: 'Chathura', sans-serif;
      color: #ffffff;
      font-size: 2rem;
      line-height: 1.45rem;
      letter-spacing: 0.05rem;
      text-align: center;
      color: #ff8327;
      margin-bottom: 20px; }
  #blog form {
    padding: 50px 0 40px 0; }
  #blog input#name,
  #blog input#email,
  #blog textarea#comment {
    background-color: #111010; }
  #blog input#name,
  #blog input#email {
    border-bottom: 2px solid #ff8327; }
  #blog textarea#comment {
    border: 2px solid #ff8327; }
  #blog label,
  #blog textarea#comment::-webkit-input-placeholder {
    font-family: 'Chathura', sans-serif;
    color: #ffffff;
    font-size: 1.9rem;
    line-height: 1.45rem;
    letter-spacing: 0.05rem;
    text-align: left;
    color: #ffffff;
    padding-left: 20px; }
  #blog label,
  #blog textarea#comment:-ms-input-placeholder {
    font-family: 'Chathura', sans-serif;
    color: #ffffff;
    font-size: 1.9rem;
    line-height: 1.45rem;
    letter-spacing: 0.05rem;
    text-align: left;
    color: #ffffff;
    padding-left: 20px; }
  #blog label,
  #blog textarea#comment::-ms-input-placeholder {
    font-family: 'Chathura', sans-serif;
    color: #ffffff;
    font-size: 1.9rem;
    line-height: 1.45rem;
    letter-spacing: 0.05rem;
    text-align: left;
    color: #ffffff;
    padding-left: 20px; }
  #blog label,
  #blog textarea#comment::placeholder {
    font-family: 'Chathura', sans-serif;
    color: #ffffff;
    font-size: 1.9rem;
    line-height: 1.45rem;
    letter-spacing: 0.05rem;
    text-align: left;
    color: #ffffff;
    padding-left: 20px; }

/**** CONTACT ****/
#contact {
  /**** header ****/
  /**** Main ****/
  /**** Form ****/
  /**** contact details ****/ }
  #contact header {
    background: url(../assets/contactHeader2.jpg);
    min-height: 500px; }
    #contact header h1 {
      font-family: 'Chathura', sans-serif;
      color: #ffffff;
      font-size: 5rem;
      line-height: 2.35rem;
      letter-spacing: 0.05rem;
      text-align: center; }
  #contact main {
    background-color: #111010;
    padding: 1px; }
  #contact form {
    background-color: #220303;
    padding: 50px 20px 40px 20px; }
  #contact input#name,
  #contact input#email,
  #contact textarea#message {
    background-color: #220303; }
  #contact input#name,
  #contact input#email {
    border-bottom: 2px solid #ffffff; }
  #contact textarea#message {
    border: 2px solid #ffffff; }
  #contact label,
  #contact textarea#message::-webkit-input-placeholder {
    font-family: 'Chathura', sans-serif;
    color: #ffffff;
    font-size: 1.9rem;
    line-height: 2rem;
    letter-spacing: 0.05rem;
    text-align: left;
    color: #ffffff;
    padding-left: 20px; }
  #contact label,
  #contact textarea#message:-ms-input-placeholder {
    font-family: 'Chathura', sans-serif;
    color: #ffffff;
    font-size: 1.9rem;
    line-height: 2rem;
    letter-spacing: 0.05rem;
    text-align: left;
    color: #ffffff;
    padding-left: 20px; }
  #contact label,
  #contact textarea#message::-ms-input-placeholder {
    font-family: 'Chathura', sans-serif;
    color: #ffffff;
    font-size: 1.9rem;
    line-height: 2rem;
    letter-spacing: 0.05rem;
    text-align: left;
    color: #ffffff;
    padding-left: 20px; }
  #contact label,
  #contact textarea#message::placeholder {
    font-family: 'Chathura', sans-serif;
    color: #ffffff;
    font-size: 1.9rem;
    line-height: 2rem;
    letter-spacing: 0.05rem;
    text-align: left;
    color: #ffffff;
    padding-left: 20px; }
  #contact .contactDetails {
    background-color: #111010;
    padding: 50px 20px 40px 20px; }
    #contact .contactDetails ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-bottom: 10px; }
    #contact .contactDetails li {
      text-align: center; }
    #contact .contactDetails i {
      font-size: 1.5rem; }
    #contact .contactDetails a {
      display: block;
      text-align: center; }
      #contact .contactDetails a:hover {
        color: #ff8327; }
  #contact .email,
  #contact .address {
    margin-bottom: 20px; }
  #contact .phone {
    margin-bottom: 10px; }

@media (min-width: 320px) {
  /**** Events ****/
  .events2 .imgContainer {
    -webkit-box-shadow: -15px 15px 0px 4px #ff8327;
    box-shadow: -15px 15px 0px 4px #ff8327;
    width: 60%; }
  .events2 h2 {
    margin: 40px 0 20px 0; } }

@media (min-width: 480px) {
  /**** Global styles ****/
  .container {
    width: 80%; }
  /**** New space community blog get in touch ****/
  .spaceComBlogTouch .iconWrap {
    padding: 30px;
    width: 65px;
    height: 65px; }
    .spaceComBlogTouch .iconWrap i {
      font-size: 2rem; }
  /**** Events ****/
  .events2 .imgContainer {
    width: 55%; }
  /**** BLOG ****/
  #blog {
    /**** Header ****/
    /**** Blog main ****/ }
    #blog header h1 {
      font-family: 'Chathura', sans-serif;
      color: #ffffff;
      font-size: 6rem;
      line-height: 2.35rem;
      letter-spacing: 0.05rem;
      text-align: left; }
    #blog .blogPosts .imgContainer {
      -webkit-box-shadow: -15px 15px 0px 4px #ff8327;
      box-shadow: -15px 15px 0px 4px #ff8327; }
    #blog .recentPosts .imgContainer {
      -webkit-box-shadow: 15px 15px 0px 4px #ff8327;
      box-shadow: 15px 15px 0px 4px #ff8327;
      width: 70%; }
  /**** CONTACT ****/
  #contact .contactDetails ul {
    width: 60%;
    margin: 0 auto 15px; }
  #contact form {
    margin: 40px auto 40px;
    width: 85%;
    -webkit-box-shadow: 15px 15px 0px 4px #ff8327;
    box-shadow: 15px 15px 0px 4px #ff8327; } }

@media (min-width: 768px) {
  /**** Header ****/
  header h1 {
    font-family: 'Tulpen One', cursive;
    font-size: 13.05rem;
    letter-spacing: 0.7rem;
    color: #ff8327;
    text-align: left;
    line-height: 3.5rem;
    padding-bottom: 20px; }
  header h2 {
    font-family: 'Chathura', sans-serif;
    color: #ffffff;
    font-size: 4.15rem;
    line-height: 5.5rem;
    letter-spacing: 0.1rem;
    text-align: left; }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: center; }
    header nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      position: static;
      margin-top: 50px; }
      header nav ul li {
        margin: 0 30px; }
      header nav ul .logo {
        display: block; }
        header nav ul .logo h2 {
          line-height: 0px; }
      header nav ul a {
        font-family: 'Chathura', sans-serif;
        color: #ffffff;
        font-size: 1.9rem;
        line-height: 1.45rem;
        letter-spacing: 0.1rem;
        text-align: right; }
        header nav ul a:hover {
          color: #ff8327; }
  header .hamburger {
    display: none; }
  /**** New location plan ahead starts  ****/
  .newLocPlanAhead h2 {
    padding-top: 40px; }
  .leftImg {
    -webkit-box-shadow: 15px 15px 0px 4px #ff8327;
    box-shadow: 15px 15px 0px 4px #ff8327; }
  .rightImg {
    -webkit-box-shadow: -15px 15px 0px 4px #ff8327;
    box-shadow: -15px 15px 0px 4px #ff8327; }
  /**** Events ****/
  .events2 .container {
    width: 90%; }
  .events2 .imgContainer {
    width: calc(30% - 20px);
    float: left;
    margin-top: 10px;
    margin-left: 20px; }
  .events2 .contentWrap {
    width: calc(70% - 40px);
    margin-left: 40px;
    float: left; }
    .events2 .contentWrap h2,
    .events2 .contentWrap p,
    .events2 .contentWrap .buttonWrap {
      text-align: left; }
    .events2 .contentWrap h2 {
      margin: 0; }
  /**** BLOG ****/
  #blog {
    /**** Header ****/ }
    #blog header h1 {
      font-family: 'Chathura', sans-serif;
      color: #ffffff;
      font-size: 6rem;
      line-height: 2.35rem;
      letter-spacing: 0.05rem;
      text-align: left; }
    #blog header .flexParent {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
    #blog header .container {
      width: 70%; }
    #blog .recentPosts .imgContainer {
      width: 60%; }
  /**** CONTACT ****/
  #contact {
    /**** Header ****/ }
    #contact header h1 {
      font-family: 'Chathura', sans-serif;
      color: #ffffff;
      font-size: 6rem;
      line-height: 2.35rem;
      letter-spacing: 0.05rem;
      text-align: left; }
    #contact header .flexParent {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
    #contact .contactDetails ul {
      width: 50%; } }

@media (min-width: 992px) {
  /**** Global styles ****/
  .container {
    width: 70%; }
  /**** Header ****/
  header {
    min-height: 700px; }
  /**** Events ****/
  .events3 .flexParent {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .events3 .imgContainer:nth-of-type(1) {
    margin: 0 0 40px 0; }
  .events3 .imgContainer:nth-of-type(2) {
    margin: 0 20px 40px 20px; }
  .events3 picture {
    display: block; }
  /**** BLOG ****/
  #blog {
    /**** comments ****/ }
    #blog .commentForm {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
    #blog .recentPosts .imgContainer {
      width: 65%; }
    #blog input,
    #blog label {
      display: block; }
    #blog .name,
    #blog .email {
      width: calc(50% - 10px);
      float: left; }
    #blog .name {
      margin-right: 10px; }
    #blog .email {
      margin-left: 10px; }
    #blog textarea#comment {
      margin-bottom: 30px; }
    #blog .comments .flexParent {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
    #blog .comments .imgContianer {
      -ms-flex-preferred-size: 30%;
      flex-basis: 30%; }
    #blog .comments .contentWrap {
      -ms-flex-preferred-size: 70%;
      flex-basis: 70%; }
      #blog .comments .contentWrap h3,
      #blog .comments .contentWrap p {
        text-align: left; }
      #blog .comments .contentWrap h3 {
        margin-bottom: 20px; }
  /**** CONACT ****/
  #contact {
    /**** Main ****/
    /**** Form ****/
    /**** Contact details ****/ }
    #contact main .container {
      width: 90%; }
    #contact main .flexParent {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      position: relative; }
    #contact form {
      width: calc(70% - 20px);
      margin: 0 0 20px 0;
      padding: 30px;
      position: absolute;
      bottom: 80px;
      right: 0; }
    #contact .contactForm {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
    #contact input,
    #contact label {
      display: block; }
    #contact .name,
    #contact .email {
      width: calc(50% - 10px);
      float: left; }
    #contact .name {
      margin-right: 10px; }
    #contact .email {
      margin-left: 10px; }
    #contact input#submit {
      width: 100%; }
    #contact .button {
      padding: 10px 30px;
      margin: 30px 0 10px 0; }
    #contact .contactDetails {
      width: calc(30% - 20px);
      margin: 150px 20px 50px 0;
      padding-bottom: 60px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      #contact .contactDetails ul {
        width: 70%;
        margin: 0 0 15px 0; }
      #contact .contactDetails li {
        text-align: left; }
      #contact .contactDetails a {
        text-align: left; } }

@media (min-width: 1400px) {
  /**** Global styles ****/
  .container {
    width: 90%; }
  .button {
    padding: 10px 30px; }
  /**** Header ****/
  header {
    min-height: 100vh; }
    header nav ul li {
      margin: 0 40px; }
    header .wrapper {
      position: relative; }
  .logoWrap {
    margin-top: 350px;
    z-index: 99; }
  .headerOverlay {
    display: block;
    position: absolute;
    right: 0;
    top: 45%; }
  /**** New space community blog get in touch ****/
  .spaceComBlogTouch .container {
    padding: 100px 0 80px 0; }
  .iconMenu label {
    display: none; }
  .iconContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .iconContent h2 {
      padding: 0 0 20px 0; }
    .iconContent h2,
    .iconContent p {
      text-align: left; }
    .iconContent .iconWrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .iconContent > div {
    display: block; }
  .newSpace,
  .blog,
  .community,
  .getInTouch {
    -ms-flex-preferred-size: calc(50% - 15px);
    flex-basis: calc(50% - 15px);
    margin-bottom: 40px; }
  .newSpace,
  .blog {
    margin-right: 30px; }
  .innerWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .iconWrap {
    margin-right: 20px; }
  /**** New location plan ahead  ****/
  .newLocPlanAhead {
    position: relative; }
    .newLocPlanAhead .flexParent {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
    .newLocPlanAhead .imgContainer {
      margin: 0;
      position: absolute; }
  .leftContainer {
    margin-top: 440px;
    width: 45%; }
    .leftContainer .flexParent {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .leftContainer .imgContainer {
      top: -50px; }
    .leftContainer .container h2,
    .leftContainer .container p,
    .leftContainer .container .buttonWrap {
      text-align: right; }
  .rightContainer {
    margin-bottom: 440px;
    width: 45%; }
    .rightContainer .flexParent {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }
    .rightContainer .imgContainer {
      bottom: -45px; }
    .rightContainer .container h2,
    .rightContainer .container p,
    .rightContainer .container .buttonWrap {
      text-align: left; }
  /**** Events ****/
  .events1 {
    padding-top: 80px; }
    .events1 .flexParent {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }
    .events1 .container {
      margin-bottom: 80px; }
  .events2 {
    margin: 0 auto; }
    .events2 .container {
      width: 90%; }
    .events2 .imgContainer {
      width: calc(20% - 20px);
      float: left;
      margin-top: 10px;
      margin-left: 20px; }
    .events2 .contentWrap {
      width: calc(80% - 40px);
      margin-left: 40px;
      float: left; }
      .events2 .contentWrap h2,
      .events2 .contentWrap p,
      .events2 .contentWrap .buttonWrap {
        text-align: left; }
      .events2 .contentWrap h2 {
        margin: 0; }
  /**** BLOG ****/
  #blog {
    /**** Global styles ****/
    /**** Header ****/
    /**** Main ****/
    /**** Recent posts ****/
    /**** Blog main ****/
    /**** Comments ****/ }
    #blog .container {
      width: 90%; }
    #blog .logoWrap {
      margin-top: 200px; }
    #blog main .flexParent {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
    #blog .recentPosts {
      -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
      position: relative;
      margin-top: 80px; }
      #blog .recentPosts .container {
        width: 70%;
        padding: 15px; }
      #blog .recentPosts .imgContainer {
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 80%;
        position: absolute;
        top: 0;
        left: 0; }
    #blog .ourMission h2,
    #blog .ourMission p,
    #blog .ourMission .button,
    #blog .ourMission li,
    #blog .postList h2,
    #blog .postList p,
    #blog .postList .button,
    #blog .postList li {
      text-align: left; }
    #blog .ourMission ul,
    #blog .postList ul {
      padding-left: 20px; }
    #blog .ourMission {
      margin-top: 350px; }
      #blog .ourMission p {
        margin-bottom: 10px; }
      #blog .ourMission .buttonWrap {
        text-align: left; }
      #blog .ourMission .button {
        margin: 0;
        text-align: left;
        text-transform: capitalize;
        color: #ff8327;
        background-color: #220303;
        border: none;
        padding: 0; }
    #blog .blogMain {
      -ms-flex-preferred-size: 60%;
      flex-basis: 60%; }
    #blog .blogPosts {
      border-left: 4px solid #ff8327;
      border-bottom: 4px solid #ff8327;
      position: relative;
      padding: 420px 0 40px; }
      #blog .blogPosts .imgContainer {
        position: absolute;
        top: -200px;
        right: -5px;
        width: 99%; }
      #blog .blogPosts .contentWrap {
        padding: 0 40px; }
      #blog .blogPosts h2,
      #blog .blogPosts h3,
      #blog .blogPosts p {
        text-align: left; }
    #blog .comments h2 {
      text-align: left;
      padding-left: 80px; }
    #blog .comments .contentWrap h3 {
      margin-bottom: 10px; }
    #blog input#post {
      width: 100%; }
  /**** CONTACT ****/
  #contact {
    /**** Header ****/
    /**** form ****/ }
    #contact header {
      min-height: 600px; }
      #contact header .flexParent {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; }
    #contact h1 {
      text-align: left; }
    #contact .logoWrap {
      margin-top: 220px; }
    #contact form {
      bottom: 170px; } }
